cffi==1.17.1
charset-normalizer==3.4.2
cryptography==45.0.3
Deprecated==1.2.18
deprecation==2.1.0
img2pdf==0.6.1
lxml==5.4.0
markdown-it-py==3.0.0
mdurl==0.1.2
ocrmypdf==16.10.2
packaging==25.0
pdfminer.six==20250506
pi_heif==0.22.0
pikepdf==9.8.1
pillow==11.2.1
pluggy==1.6.0
pycparser==2.22
Pygments==2.19.1
PyPDF2==3.0.1
rich==14.0.0
wrapt==1.17.2
